@(loginForm: Form[LoginForm.Data],
  clientId: Option[String],
  redirectUrl: Option[String],
)(implicit request: MessagesRequestHeader)

@import helper._

@implicitConstructor = @{ FieldConstructor(views.html.form.formVertical.render) }

@auth.main("Login") {
  @form(routes.AuthController.login(clientId.getOrElse(""), redirectUrl.getOrElse(""))) {
    @CSRF.formField
    @inputText(loginForm("username"), '_label -> "Email or Username")
    @inputText(loginForm("password"), '_type -> "password")

    <div class="flex justify-between mt2">
      <a href="@routes.AccountController.showPasswordResetRequestForm(clientId.getOrElse(""), redirectUrl.getOrElse(""))"
      class="f6 no-underline gray underline-hover">
        Forgot Password ?
      </a>
      <label class="lh-copy f6 pointer">
        <input type="checkbox" name="remember_me" checked="checked"> Remember me
      </label>
    </div>

    <button type="submit" class="b ph4 pv3 input-reset bw0 bg-primary grow pointer f6 br1 white tc w-100 mt3">
      Sign in
    </button>

    <a href="@routes.AccountController.showRegisterForm(clientId.getOrElse(""), redirectUrl.getOrElse(""))"
    class="mt3 ph4 pv3 f6 br1 no-underline grow primary bg-light-gray w-100 db tc"
    >
      Create an Account
    </a>
  }
}
