@(reqForm: Form[PasswordResetRequestForm.Data],
  clientId: Option[String],
  redirectUrl: Option[String],
)(implicit request: MessagesRequestHeader)

@import helper._

@implicitConstructor = @{ FieldConstructor(views.html.form.formVertical.render) }

@auth.main("Forgot Password") {
  @form(routes.AccountController.sendPasswordResetRequest(clientId.getOrElse(""), redirectUrl.getOrElse(""))) {
    @CSRF.formField
    @inputText(reqForm("email"), '_label -> "Please enter your email address")

    <button type="submit" class="b ph4 pv3 input-reset bw0 bg-primary grow pointer f6 br1 white tc w-100 mt3">
      Submit
    </button>

    <a href="@routes.AuthController.login(clientId.getOrElse(""), redirectUrl.getOrElse(""))"
      class="mt3 ph4 pv3 f6 br1 no-underline grow primary bg-light-gray w-100 db tc">
      Back
    </a>
  }
}
