@(user: UserDb, clientId: String, redirectUrl: String)(implicit request: MessagesRequestHeader)

@auth.main("Please check your email and confirm your address") {
  <p>
    A confirmation email has been sent to you. It may take a few minutes.
    Follow the directions in the email to confirm and complete your account.

    <a href="@routes.AccountController.resendEmailVerification(user.id.getOrElse(0), clientId, redirectUrl)"
      class="b dark-green">
      Please click here if you didn't receive your verification email.
    </a>
  </p>
}
