@(registerForm: Form[RegisterForm.Data],
  clientId: Option[String],
  redirectUrl: Option[String],
)(implicit request: MessagesRequestHeader)

@import helper._

@implicitConstructor = @{ FieldConstructor(views.html.form.formVertical.render) }

@auth.main("Account Registration") {
  @form(routes.AccountController.register(clientId.getOrElse(""), redirectUrl.getOrElse(""))) {
    @CSRF.formField
    @inputText(registerForm("name"), '_label -> "Nama")
    @inputText(registerForm("email"), '_label -> "Email Address")

    <div class="cf">
      <div class="fl w-50 pr2">
      @inputText(registerForm("password"), '_type -> "password")
      </div>
      <div class="fl w-50">
      @inputText(registerForm("password_confirm"), '_type -> "password", '_label -> "Confirm Password")
      </div>
    </div>

    <button type="submit" class="b ph4 pv3 input-reset bw0 bg-dark-green grow pointer f6 br1 white tc w-100 mt3">
      Register
    </button>
  }
}
