@(token: String, clientId: Option[String], redirectUrl: Option[String])(implicit request: MessagesRequestHeader)

@mail.main("Verify your email address") {
  <p>Please verify your account by clicking the button below.</p>

  <div class="body">
    <a href="@routes.AccountController.verify(token, clientId.getOrElse(""), redirectUrl.getOrElse("")).absoluteURL()"
    class="btn-accept"
    target="_blank"
    >
      Verify My Email
    </a>
  </div>
}