@(token: String, clientId: Option[String], redirectUrl: Option[String])(implicit request: MessagesRequestHeader)

@mail.main("Password Reset") {
  <p>To reset your password, please click the button below.</p>

  <div class="body">
    <a href="@routes.AccountController.showPasswordResetForm(token, clientId.getOrElse(""), redirectUrl.getOrElse("")).absoluteURL()"
    class="btn-accept"
    target="_blank"
    >
      Reset My Password
    </a>
  </div>

  <p>This link will expire in two hours.</p>
  <p>If you did not request your password to be reset, please ignore this email and your password will stay as it is.</p>
}
