@(elements: helper.FieldElements)

@inputType = @{elements.args.getOrElse('_type, "text")}

<div class="mv3">
  <label class="db fw6 lh-copy f6 @if(elements.hasErrors) {dark-red}" for="@elements.id">
    @{elements.label.toString.capitalize}
  </label>

  <input
    id="@elements.id"
    name="@elements.name"
    type="@inputType"
    @if(inputType != "password") {value="@elements.field.value"}
    class="
      pa2 input-reset ba br1 w-100
      @elements.args.getOrElse('_class, "")
      @if(elements.hasErrors) {b--dark-red} else {b--moon-gray}
    "
  >

  <div class="dark-red mt1 red f7">@elements.errors.mkString(", ")</div>
</div>