@(variant: String)(message: Html)

<div class="tc">
  <div class="db mt3">
    <div class="dib pv2 ph3 br2 bg-black-05 tc shadow-1">
      @variant match {
        case "error" => {<span class="b f4 mh2 dark-red">x</span>}
        case "success" => {<span class="b f4 mh2 dark-green">o</span>}
        case _ => {<span class="b f4 mh2 dark-blue">i</span>}
      }
      <span class="f6">@message</span>
    </div>
  </div>
</div>